@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PingFang-SC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./resources/fonts/PingFang-SC-Regular.ttf) format('ttf');
  }
}

.time {
	position: fixed;
	bottom: 0px;
	right: 5px;
	color: white;
}